/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
.header.center.teal-text.text-lighten-2{
  margin-top: 1em;
  margin-bottom:0em;
  /* background-color: antiquewhite; */
  font-style: italic;
  fon
}
.header.col.s12.light{
  color:white;
  text-transform: capitalize;
  font-size: 3em;
  font-weight: 600;
}
.btn-large.waves-effect.waves-light.teal.lighten-1{
  border-radius:15px;
  font-weight: 600;
  font-size: 1.5em;
}

#sorter{
  background: lightblue;
  height: 100vh;
}
.communitySection{
  height:80vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}
.comSection{
  background:lightgoldenrodyellow;
  min-height:80vh;
}